:root {
  background-color: black; 
  font-family: 'Open Sans';
  height: 100vh;
  margin: 0rem;
  overflow: hidden; 
}
.content {
  z-index: 3;
}

nav {
  position: fixed;
  font-family: 'Open Sans';
  font-size: clamp(2rem, 1vw, 1rem);
  color: rgb(255, 255, 255);
  white-space: nowrap;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  top: 0;
  z-index: 4;
  text-align: left; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* add flex display */
  justify-content: flex-start; /* align the items to the right */
}

nav ul li {
  margin-left: 10px; /* add some space between the items */
}

nav ul li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #20ebeb;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  will-change: transform;
}

#blur {
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(8vmax);
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

h1 {  
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  white-space: nowrap;
  padding: 50px;
  padding-top: 50px;
  padding-left: 10px;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  position: left;
  text-shadow: #000000;
  z-index:2;
  
}

h2{  
  color: white;
  white-space: pre-wrap;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  z-index: 5;
  position: relative;
}
h3 {
  font-family: 'Open Sans';
  font-size: clamp(1rem, 5vw, 5rem);
  color: white;
  white-space: nowrap;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(1rem, 5vw, 1rem);
  z-index: 5;
  position: inherit;
}
h4{
  font-family: 'Open Sans';
  font-size: clamp(1rem, 1vw, 1rem);
  color: white;
  white-space: pre-wrap;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  z-index: 3;
}
h5 {
  font-family: 'Open Sans';
  font-size: clamp(1rem, 5vw, 5rem);
  color: aqua;
  white-space: nowrap;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  z-index: 3;
}
a{
  color: aqua;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 0, 221);
  
}
.speed-option {
  appearance: none;
  -webkit-appearance: none;
  height: 2rem;
  border: 1px solid var(--black2);
  background: var(--black2);
  cursor: pointer;
  border-radius: 4px;
  color: var(--white1);
}

.example {
  border-radius: 6px;
  border: 1px solid var(--black2);
  background: var(--black0);
  color: var(--white2);
  letter-spacing: 2px;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  box-shadow: var(--bs-xl);
  margin-bottom: 1rem;
  font-weight: 500;
  transform: scaleY(.95);
  transition: background 100ms ease-in-out;
}

.example[data-filling='true'] {
  border: 1px solid var(--primary1);
  background: var(--primary2);
  color: var(--white1);
}

.example:hover:not([data-filling='true']) {
  border: 1px solid var(--primary1);
  background: var(--primary2);
  color: var(--white1);
}

.example:active {
  filter: brightness(1.2) contrast(1.1);
}



body {
  align-items: auto;
  background-color: var(--bg-color);
  display: flex;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

h1, h2, h3, h4, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

span{
  color:rgb(255, 0, 221);
}

i {  
  color: rgb(240, 240, 240);
}